<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
  xml:lang="en"
  metal:use-macro="common/macros/page">
  <head>            
    <title><metal:block metal:fill-slot="title">Unsupported</metal:block></title>
  </head>
  <body>
    <div id="content" metal:fill-slot="content">
	    <p>
      This is the SEAS web single-signon application, part of the
      Academic Computing identity management suite.  To learn more
      about identity management at SEAS, please visit the
      <a href="http://spaces.seas.harvard.edu/display/IDENTITY/"
        >Identity@SEAS</a> website.</p>
      
      <p>If you have questions
      about this application, please contact Academic Computing at
      <a href="mailto:achelp@seas.harvard.edu">achelp@seas.harvard.edu</a>.
	    </p>
    </div>
  </body>
</html>

